.intro {
    background: url("../assets/events/intro.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro button,
.collab button {
    width: 101px;
    height: 30px;
    background: linear-gradient(178.89deg, #BF9AD4 0.95%, #407BFF 252.36%);
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
}

.owl-carousel .item {
    width: 867px;
    height: 324px;
    filter: drop-shadow(3px 7px 40px rgba(0, 0, 0, 0.14));
    margin: 0 auto
}

.item h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #263238;
}

.item p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    color: #727272;
}

.item img {
    width: 270px;
    height: 324px;
}

.item .desc {
    width: 634px;
    height: 324px;
    background: #FFFFFF;
    padding: 10% 8%;
}

.collab h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #0A19CE;
}

.collab h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
}

.collab input[type="text"],
.collab input[type="email"] {
    width: 531px;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

input::placeholder {
    font-family: Cabin;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #DBDBDB;
}

.cal {
    padding: 10%;
    background: url("../assets/events/cal.png");
    background-size: cover;
}

iframe {
    width: 100%;
    height: 600px;
}

.owl-carousel {
    position: relative;
}

.one {
    position: absolute;
    top: 0;
    left: 0%;
}

.two {
    position: absolute;
    bottom: 0;
    left: 80%;
}

@media (max-width: 1090px) {
    .intro {
        background-size: contain;
    }
    .one {
        top: -10%;
    }
}

@media(max-width:575px) {
    .collab input[type="text"],
    .collab input[type="email"] {
        width: 280px;
        height: 35px;
        margin: 0 auto;
    }
    .collab h5 {
        font-size: 12px;
        text-align: center;
    }
    input::placeholder {
        font-size: 10px;
        line-height: 24px;
    }
    .item p {
        line-height: 14px;
        font-size: 10px;
    }
    .item h1 {
        font-size: 15px;
        line-height: 20px;
    }
    .owl-carousel .item {
        width: 100%;
        height: 275px;
    }
    .item .desc {
        width: 300px;
    }
    .owl-next {
        right: -1%
    }
    .owl-prev {
        left: -1%;
    }
    .cal {
        padding-bottom: 35%;
    }
    .logo img {
        width: 90%;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
    .two {
        left: 75%;
    }
    .collab h4 {
        text-align: center;
    }
    .collab button {
        margin: 0 35%;
    }
}

@media(min-width:576px) and (max-width:1090px) {
    .collab input[type="text"],
    .collab input[type="email"] {
        width: 330px;
    }
    .owl-carousel .item {
        width: 90%;
    }
    .logo img {
        width: 90%;
    }
    .two {
        left: 70%;
    }
}

@media(max-width:325px) {
    .item p {
        line-height: 11px;
    }
}