.intro {
    background: url("/assets/join/intro.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mute {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #969696;
}

.card {
    width: 75vw;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    border-radius: 10px!important;
    padding: 2%;
    margin: 5% 15%;
}

.accordion .card h2 {
    background: url(https://cdn0.iconfinder.com/data/icons/entypo/91/arrow56-512.png) no-repeat calc(100% - 10px) center;
    background-size: 20px;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #64558E;
}

.accordion .card h2.collapsed {
    background-image: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png);
}

.collab h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #0A19CE;
}

.collab h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
}

.collab input[type="text"],
.collab input[type="email"] {
    width: 531px;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

input::placeholder {
    font-family: Cabin;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #DBDBDB;
}

.collab button {
    width: 101px;
    height: 30px;
    background: linear-gradient(178.89deg, #BF9AD4 0.95%, #407BFF 252.36%);
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
}

.collab {
    background: url("/assets/events/cal.png")
}

@media (max-width:1000px) {
    .intro {
        background-size: contain;
    }
}

@media(max-width:575px) {
    .accordion .card h2 {
        background: url(https://cdn0.iconfinder.com/data/icons/entypo/91/arrow56-512.png) no-repeat calc(100% - 10px) center;
        background-size: 9px;
        font-size: 10px;
        line-height: 26px;
    }
    .collab input[type="text"],
    .collab input[type="email"] {
        width: 280px;
        height: 35px;
        margin: 0 auto;
    }
    .collab h5 {
        font-size: 12px;
    }
    input::placeholder {
        font-size: 10px;
        line-height: 24px;
    }
    .collab-form {
        padding: 5% 5% 35% 5%!important;
    }
}

@media(min-width:576px) and (max-width:1090px) {
    .collab input[type="text"],
    .collab input[type="email"] {
        width: 320px;
    }
    .intro h1 {
        font-size: 50px;
        line-height: 70px;
    }
}

.collab-form {
    padding: 5% 5% 15% 5%;
}