@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
body {
    background: #F5F4FB;
    margin: 0;
}

.bg-light {
    background-color: rgba(0, 0, 0, 0.0)!important;
}

.gradient {
    background: linear-gradient(178.89deg, #BF9AD4 0.95%, #407BFF 252.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}