.intro {
    background: url("/assets/team/intro.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15% 10%;
    margin-top: -5%;
}

.name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #263238;
    margin-top: 2%;
}

.pos {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-variant: small-caps;
    color: #0A19CE;
}

.one-liner {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #969696;
}

.members {
    padding: 2% 5%;
}

.exec div,
.members div {
    margin-top: 5%;
    margin-bottom: 10%;
}

.exec img,
.members img {
    width: 185px;
    height: 185px;
    border-radius: 50%;
}

.social {
    position: absolute;
    bottom: -18%;
    left: 42%;
}

.social img {
    padding: 0 15%;
    width: 25px;
    height: 25px;
    border-radius: 0;
    margin: 0;
}

@media (max-width:1090px) {
    .intro {
        background-size: cover;
    }
}

@media(min-width:578px) and (max-width:699px) {
    .intro {
        background-size: contain;
    }
}

@media(max-width:575px) {
    .intro {
        background-size: contain;
    }
    .exec img,
    .members img {
        width: 120px;
        height: 120px;
    }
    .social img {
        width: 21px;
        height: 21px;
    }
    .col-sm-6 {
        width: 50%;
    }
    .name {
        font-size: 12px;
        line-height: 20px;
    }
    .pos {
        font-size: 11px;
        line-height: 13px;
    }
    .one-liner {
        font-size: 10px;
        line-height: 13px;
    }
    .members {
        padding-bottom: 35%;
    }
}